blockquote p {
	font-size: 13px;
	line-height: 18px;
}

.carousel {
	max-width: 590px;
}

.yearlist {
	text-align: center;
	display: inline;
	margin-left: 0;
	padding-left: 0;
}
.yearlist li {
	list-style-type: none;
	display: inline;
	padding-left: 0;
	padding-right: 0.5em;
	border-style: none;
}

.more .yearlist li {
	font-size: 13px;
	line-height: 18px;
}
.yearlist li {
	font-size: 18px;
	line-height: 24px;
}

body p img {
	padding: 1em;
}

.pageheader {
	padding-bottom: 4px;
}
.pageheader h1 {
	font-size: 48px;
	border-style: none none solid none;
	border-width: thin;
	border-color: #dddddd;
	padding-bottom: 4px;
}
.publication .pageheader h1 {
	font-size: 18px;
	line-height: 27px;
}
.frontpage .contentarea h1 {
	border-style: none none solid none;
	border-width: thin;
	border-color: #dddddd;
}
.software .contentarea h1 {
	border-style: none none solid none;
	border-width: thin;
	border-color: #dddddd;
}
.people .contentarea h1 {
	border-style: none none solid none;
	border-width: thin;
	border-color: #dddddd;
}

.mainlinks img {
	padding-left: 9px;
	padding-bottom: 9px;
}

.publicationlinks {
	text-align: center;
	display: inline;
	margin-left: 0;
	padding-left: 0;
}
.publicationlinks li {
	list-style-type: none;
	display: inline;
	padding-left: 0;
	padding-right: 0.2em;
	border-style: none;
}

.bibliography .publicationlinks li {
	font-size: 11px;
}
.publicationlinks li {
	font-size: 18px;
}

.mainlinks h1 {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}
