---
layout: default
title: Publications
---

{% bibliography %}
{% assign years = '' %}
{% for item in bibliography %}
	{% if item.year != lastyear %}
	{% capture years %}{{ years | append:' ' | append:item.year }}{% endcapture %}
	{% assign lastyear = item.year %}
	{% endif %}
{% endfor %}
{% stringtolist years %}
	<ul class="yearlist">
		{% for year in years %}
		<li><a href="{{ site.baseurl }}publications#year{{ year }}">{{ year }}</a></li>
		{% endfor %}
	</ul>
{% endstringtolist %}

{% assign lastyear = nil %}
{% for item in bibliography %}
	{% if item.year != lastyear %}
	{% if lastyear != nil %}</ul>{% endif %}
	<h2 id="year{{ item.year }}">{{ item.year }}</h2>
	<ul class="bibliography">
	{% assign lastyear = item.year %}
	{% endif %}
	<li>
		{{ item.html }}
		<ul class="publicationlinks">
		{% if item.url %}
		<li><a href="{{ item.url }}">URL</a></li>
		{% endif %}
		{% if item.pdf %}
		<li><a href="{{ item.pdf }}">PDF</a></li>
		{% endif %}
		{% if item.pageurl %}
		<li><a href="{{ site.baseurl }}{{ item.pageurl }}">More</a> (<a href="{{ site.baseurl }}{{ item.pageurl }}#bibtex">Bibtex</a>{% if item.abstract %}, <a href="{{ site.baseurl }}{{ item.pageurl }}#abstract">abstract</a>{% endif %})</li>
		{% endif %}
		</ul>
	</li>
{% endfor %}
</ul>
{% endbibliography %}
